<div ng-controller="ButtonsCtrl">
    <md-calendar ng-model="ctrl.startDate"></md-calendar>

    <button ng-class="{'button button-clear': !attendanceEvents  , 'button button-selected': attendanceEvents}"
            ng-click="loadEvents(false)">Calendario
    </button>
    <button ng-class="{'button button-selected': !attendanceEvents  , 'button button-clear': attendanceEvents}"
            ng-click="loadEvents(true)" ng-disabled="freeCounters.length==0">Disponibilidad
    </button>
    <button class="button button-clear" ng-hide="!customer" ng-click="openCustomerNotesModal()">Admin.</button>
    <ion-checkbox style="padding-left: 50px;" ng-model="multipleSelection" class="button button-clear">S.Multiple
    </ion-checkbox>
</div>