<ion-view>
  <ion-header-bar>
    <ng-include src="'templates/header.html'"></ng-include>
  </ion-header-bar>
  <ion-side-menus>
    <ion-side-menu-content>
      <!-- Main content, usually <ion-nav-view> -->
      <ion-content class="padding">
        <ng-include src="'templates/buttons.html'"></ng-include>
        <ng-include src="'templates/calendar.html'"></ng-include>
      </ion-content>
    </ion-side-menu-content>
    <ng-include src="'templates/leftMenu.html'"></ng-include>
    <ng-include src="'templates/rightMenu.html'"></ng-include>
  </ion-side-menus>
</ion-view>